.section_action
	padding-left: 90px 
	padding-right: 90px 

.action__title
	text-align: right
	font-size: 40px
	font-family: 'M PLUS 1p', sans-serif
	font-weight: 700
.action__text
	display: inline-flex
	height: 85%
	justify-content: flex-end
	flex-direction: column
.action__button
	display: flex
	height: 100%
	justify-content: center
	flex-direction: column
