.adv-wrap-item
	font-family: "Fira Sans", sans-serif
	padding-left: 50px
	.icon-adv
		width: 64px
		height: 64px
	span
		font-size: 44px
		font-weight: 500
		margin-left: 10px
		line-height: 44px
	p
		font-size: 20px
		text-transform: uppercase
		margin: 0
		padding: 0

@media (max-width: 1400px)
	.adv-wrap-item
		.icon-adv
			width: 64px
			height: 64px
		span
			font-size: 38px
			font-weight: 500
			margin-left: 10px
			line-height: 44px
		p
			font-size: 18px
			text-transform: uppercase
			margin: 0
			padding: 0
			line-height: 20px

@media (max-width: 1200px)
	.adv-wrap-item
		margin-bottom: 15px
		text-align: center
		padding-left: 0
@media (max-width: 575px)
	.adv-wrap-item
		margin-bottom: 30px
		text-align: center
		padding-left: 0