.contact-form
	display: flex 
	flex-direction: column
	margin: 110px 90px 110px 110px 

p + form
	margin-top: 60px

form
	display: flex
	flex-direction: column
	button
		margin-right: auto
	label
		font-size: 18px
		font-style: italic
		font-family: "Fira Sans", sans-serif
	input, textarea
		margin-bottom: 30px
		line-height: 22px
		font-size: 22px
		color: $greyText
		padding: 10px
		outline: none
		border: none
