.contact-block
	padding: 0px 15px
	font-family: "Fira Sans", sans-serif
	border-right: 1px solid $black
	color: $blackText
	&__icon
		display: block
		&--big
			font-size: 35px	
			color: $greyIcon
	&__num
		font-size: 20px
	&__text
		font-size: 16px
		&--light
			font-family: "Fira Sans", sans-serif
			font-size: 14px
			font-weight: 300
			font-style: italic
	&__address
		font-size: 16px
		
		&:last-child
			margin-top: 8px
		&-mail
			letter-spacing: 2px

	// &:first-child
	// 	border-right: 1px solid $black
	.fas
		color: $greyIcon
		font-size: 20px
		margin-right: 15px