.footer
	padding: 15px 0
	p
		font-size: 12px
		font-family: "Raleway", sans-serif 
		color: $whiteText 
	.author
		display: block
		font-size: 10px
		margin-right: 190px
		color: #797B7E
		text-decoration: underline
		&:hover
			color: $accent 
// @media (max-width: 575px)
// 	.author
// 		margin-right: 0px
		
		
