.page-header
	display: flex
	padding: 25px 220px 0 
	z-index: 0
	&__branding
		font-size: 28px
		font-family: 'M PLUS 1p', sans-serif
		font-weight: 700
	&__contacts
		display: flex
		justify-content: flex-end
	&__logo
		position: absolute
		top: 0
		left: 50px


	&__menu
		display: flex
		flex-direction: row
		justify-content: space-between
		margin-top: 20px	
		padding: 0px 20px
		background-color: $black
		height: 60px
		color: white 

@media (max-width: 1400px)
	.page-header
		&__branding
			font-size: 24px
		&__menu
			margin-top: 20px	
			padding: 0px 20px
			height: 50px 
@media (max-width: 1350px) 
	.page-header
		padding: 25px 16% 0 
		&__logo
			display: none
@media (min-width: 480px) and (max-width: 1350px)
	.page-header
		padding: 25px 5% 0 
@media (max-width: 800px) 
	.page-header
		&__contacts
			display: flex
			justify-content: center
			margin: 15px 0px
@media (max-width: 570px)
	.page-header 
		padding: 25px 2% 0 
		&__contacts
			display: flex
			flex-direction: column
			.contact-block__icon--big
				display: none
			



.page-header__menu
	z-index: 100
	position: relative
.primary-nav
	display: flex
	z-index: 100
	ul
		li
			display: inline-flex
			height: 100%
			justify-content: center
			flex-direction: column
			list-style-type: none
			margin-left: 7px
			&:first-child
				margin-left: 0
		a
			display: flex
			height: 100%
			justify-content: center
			flex-direction: column
			padding: 0 15px
			text-decoration: none
			letter-spacing: 0.2px
			color: $whiteText
			font-weight: 600
			font-size: 16px
			font-family: 'Raleway', sans-serif
			text-transform: uppercase
			letter-spacing: 1px
			transition: 0.25s ease-out
			&:hover 
				color: $accentText
		.active 
			color: $whiteText
			background-color: $accent
			cursor: pointer
			&:hover
				color: $whiteText
				cursor: pointer

@media (max-width: 1530px)
	.primary-nav
		ul
			li
			a
				padding: 0 9px
				font-size: 14px

@media (max-width: 1400px)
	.primary-nav
		ul
			li
				margin-left: 5px
			a
				padding: 0 9px
				font-size: 14px
@media (min-width: 480px) and (max-width: 1000px)
	.primary-nav
		ul
			li
				margin-left: 2px
			a
				padding: 0 2px
				font-size: 12px
	.page-header
			&__menu
				height: 40px
@media (max-width: 800px)
	.page-header
			&__menu
				display: none
.prymary-socials
	display: flex
	z-index: 100
	ul
		display: flex
		li
			display: inline-flex
			justify-content: center
			flex-direction: column
			list-style-type: none
			width: 30px
			height: 30px
			margin: auto 0px auto 10px
			&:first-child
				margin-left: 0
		a
			display: flex
			flex-direction: column
			text-align: center
			padding: 0 7px
			text-decoration: none
			color: $blackText
			background-color: $white
			font-size: 18px
			transition: 0.25s ease-out
			&:last-child
			margin-left: 0
			&:hover 
				color: $whiteText
				background-color: $accentText




@media (max-width: 1400px)
	.prymary-socials
		ul
			li
				width: 25px
				height: 25px
			a
				padding: 0 5px
				font-size: 16px


	
				
		



			




