<!DOCTYPE html>

<html class="wow-animation" lang="UA">   

<head> 
  <meta charset="utf-8">
  <title>Ценр-Комплекс</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  
  <!-- Styles -->
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- endbuild -->

  <!-- Vendor JS code -->
  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500|M+PLUS+1p:700|Raleway:400,500,600,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">



  <!-- Theme Color -->
  <meta name="theme-color" content="#0095da">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#0095da">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>

  <header class="page-header">
    <div class="page-header__logo">
      <a href="#">
        <img src="assets/img/logo/logo-header.png" alt="Ценр-Комплекс">
      </a>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <div class="page-header__branding">
            <div class="border-black">
              Ценр-Комплекс
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="page-header__contacts">
            <div class="contact-block__icon--big">
              <a href="#"><i class="fas fa-phone"></i></a>
            </div>
            <div class="contact-block">
              <div class="contact-block__num">
                <a href="#">(032) 247-79-69</a>
              </div>
              <div class="contact-block__text--light">
                Пн-Пт 09:00-17:00
              </div>
            </div>
            <div class="contact-block">
              <div class="contact-block__address">
                <a href="#"><i class="fas fa-location-arrow"></i>79039, м.Львів, вул.Шевченка, 88-а</a>
              </div>
              <div class="contact-block__address contact-block__address-mail">
                <a href="#"><i class="fas fa-envelope"></i>zahidcentrkompl@ukr.net</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="page-header__menu">
        <nav class="primary-nav">
          <ul>
            <li><a class="active" href="/about_us_page.html">Головна</a></li>
            <li><a href="/workers_page.html">Про Нас</a></li>
            <li><a href="/itp_page.html">Виконані Об'єкти</a></li>
            <li><a href="/energy_audit_page.html">Наші Ваканції</a></li>
            <li><a href="/contacts_page.html">Контакти</a></li>
          </ul>
        </nav>

        <div class="prymary-socials">
          <ul>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-instagram"></i>
              </div>
            </a></li>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-google"></i>
              </div>
            </a></li>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a></li>
          </ul>
        </div>

      </div>

    </div>
  </header>

  <!-- START Swiper -->  
  <section class="section section--full-width swiper-modern">
    <div class="swiper-container swiper-slider" data-clickable="true" data-slide-effect="fade" data-autoplay="40000" data-simulate-touch="false">
      <div class="swiper-wrapper"> 

        <div class="swiper-slide" data-slide-bg="assets/img/slider/restavration-title.jpg">
          <div class="swiper-slide-caption">
            <div class="wrapper">
              <div class="text-wrapper">
                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Реставрація</h1>

                <p data-caption-animate="fadeInUp" data-caption-delay="250">Реставрація – це зміцнення і відновлення зруйнованих або пошкоджених споруд -  пам'ятників історії і культури, з метою збереження їх історичного та культурного значення. </p>
                <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>
                <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

              </div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/lanscaping-title.jpg">
          <div class="swiper-slide-caption">
            <div class="wrapper">

              <div class="text-wrapper">

                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Благоустрій Територій</h1>

                <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                </p>
                <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

              </div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/instalation-title.jpg">
          <div class="swiper-slide-caption">
            <div class="wrapper">

              <div class="text-wrapper">

                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Монтаж Інженерних мереж</h1>

                <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                </p>
                <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

              </div>

            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/building-title.jpg">
          <div class="swiper-slide-caption">
            <div class="wrapper">

              <div class="text-wrapper">

                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Будівництво</h1>

                <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                </p>

                <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
    </div> 
  </section>
  <!-- END Swiper -->  

  <!-- START Advantages -->  
  <section class="section section-sm section--full-width section--grey"> 
    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="adv-wrap-item">
            <img class="icon-adv" src="assets/img/icons/main_page/cityscape.svg" alt="">
            <span>1200</span>
            <p>виконаних об'єктів</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="adv-wrap-item">
            <img class="icon-adv" src="assets/img/icons/main_page/greek-column.svg" alt="">
            <span>12</span>
            <p>РОКІВ ДОСВІДУ</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="adv-wrap-item">
            <img class="icon-adv" src="assets/img/icons/main_page/workers.svg" alt="">
            <span>50</span>
            <p>КВАЛІФІКОВАНИХ ПРАЦІВНИКІВ</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="adv-wrap-item">
            <img class="icon-adv" src="assets/img/icons/main_page/digger.svg" alt="">
            <span>30</span>
            <p>СУЧАСНОЇ БУДІВЕЛЬНОЇ ТЕХНІКИ</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- END Advantages -->  
  
  <!-- START POP-Pages -->  
  <section class="section section-lg section--full-width section--white"> 
    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-4 col-sm-4">
          <a href="#" class="thumb thumb-default">
            <picture>
              <source class="lazyload" data-srcset="assets/img/page-thumb/restavration-thumb.jpg" media="(min-width: 480px)">
                <img class="thumb-default-img lazyload" data-src="assets/img/page-thumb/restavration-thumb.jpg" alt="Реставрація"> 
              </picture>
              <h3 class="thumb-default-title">Реставрація</h3>
              <p class="thumb-default-text">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони </p>
            </a>
          </div>

          <div class="col-xl-4 col-sm-4">
            <a href="#" class="thumb thumb-default">
              <picture>
                <source class="lazyload" data-srcset="assets/img/page-thumb/about_us-thumb.jpg" media="(min-width: 480px)">
                  <img class="thumb-default-img lazyload" data-src="assets/img/page-thumb/about_us-thumb.jpg" alt="Реставрація"> 
                </picture>
                <h3 class="thumb-default-title">Про Нас</h3>
                <p class="thumb-default-text">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони </p>
              </a>
            </div>

            <div class="col-xl-4 col-sm-4">
              <a href="#" class="thumb thumb-default">
                <picture>
                  <source class="lazyload" data-srcset="assets/img/page-thumb/made_objects-thumb.jpg" media="(min-width: 480px)">
                    <img class="thumb-default-img lazyload" data-src="assets/img/page-thumb/made_objects-thumb.jpg" alt="Реставрація"> 
                  </picture>
                  <h3 class="thumb-default-title">Виконані Об'єкти</h3>
                  <p class="thumb-default-text">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони </p>
                </a>
              </div>

            </div>
          </div>
        </section>
        <!-- END POP-Pages -->  

        <!-- START Action -->
        <section class="section section_action section-xs section--full-width section--accent"> 
          <div class="container-fluid">
            <div class="row">

              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                <div class="action__title">Центр-Комплекс</div>
              </div>

              <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                <div class="action__text">
                  <p>Ми перетворюємо Ваші ідеї та бачення у якісний та професійний результат.</p>
                </div>
              </div>

              <div class="col-xl-2 col-lg3 col-md-3 col-sm-12">
                <div class="action__button">
                  <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Почати Співпрацю</a>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- END Action -->

        <div class="section-divider"></div>

        <!-- START Service -->
        <section class="section section__service section--full-width section--white">
          <picture>
            <source class="lazyload" data-srcset="assets/img/page-section/main_page-service_section_md.jpg" media="(max-width: 1200px)">
              <img class="service__img img-responsive lazyload" data-src="assets/img/page-section/main_page-service_section.jpg" alt="Реконструкція"> 
            </picture>
            <div class="serivce__block">
              <h1 class="service__title">Реконструкція</h1>
              <p>Реконструкція будівель — це складний і трудомісткий процес. Особливо, якщо мова йде про пам'ятник архітектури або історичну забудову. У цьому випадку вік будови може становити кілька століть, і завдання, поставлене перед проектувальником, ускладнюється в десятки разів. Адже йому необхідно не тільки поліпшити експлуатаційні характеристики будівлі, створити умови для його ефективного використання, але й відновити його колишню зовнішність, зберегти дух епохи.
              Це перебудова існуючих об’єктів виробничого та цивільного призначення, пов’язана з удосконаленням виробництва...</p>
              <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>
            </div>

          </section>
          <!-- END Service -->

          <!-- START Progects Potrfolio -->  
          <section class="section section__portfolio section-lg--topline section--full-width section--white"> 
            <div class="container-fluid">

              <div class="row">

                <div class="col-sm-12">

                  <div class="divider-title-new"></div>
                  <h1 class="portfolio-title">Нещодавно Виконані Об'єкти</h1>

                  <div class="filter-div controls">
                    <ul>
                      <li class="filter active" data-filter="all">УСІ</li>
                      <li class="filter" data-filter=".category-1">БУДІВНИЦТВО</li>
                      <li class="filter " data-filter=".category-2">РЕСТАВРАЦІЯ</li>
                      <li class="filter" data-filter=".category-3">РЕКОНСТРУКЦІЯ</li>
                      <li class="filter" data-filter=".category-4">бЛАГОУСТРІЙ</li>

                    </ul>
                  </div>

                </div>


                <div id="portfolio-grid">

                  <div class="mix col-sm-4 portfolio-item category-1 ">
                    <div class=" thumb-portfolio ">
                      <div class="figure-wrap cs-style-4">
                       <figure>
                         <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                         <figcaption>
                          <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Будівництво</a>
                          <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                          </p>
                          <a class="thumb-portfolio-link" href="#">
                            <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                          </a>
                        </figcaption>
                      </figure>
                    </div>
                    <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                    <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                    <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
                  </div>
                </div>

                <div class="mix col-sm-4 portfolio-item category-1 ">
                  <div class=" thumb-portfolio ">
                    <div class="figure-wrap cs-style-4">
                     <figure>
                       <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                       <figcaption>
                        <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Будівництво</a>
                        <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                        </p>
                        <a class="thumb-portfolio-link" href="#">
                          <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                        </a>
                      </figcaption>
                    </figure>
                  </div>
                  <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                  <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                  <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
                </div>
              </div>

              <div class="mix col-sm-4 portfolio-item category-2 ">
                <div class=" thumb-portfolio ">
                  <div class="figure-wrap cs-style-4">
                   <figure>
                     <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                     <figcaption>
                      <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Реставрація</a>
                      <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                      </p>
                      <a class="thumb-portfolio-link" href="#">
                        <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                      </a>
                    </figcaption>
                  </figure>
                </div>
                <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
              </div>
            </div>

          </div>

          <div class="portfolio-button">
            <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Переглянути усі Об'єкти на мапі</a>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- END Progects Potrfolio -->  

  <!-- START Contact Us -->
  <section class="section section-nopading section--full-width section--grey"> 
    <div class="container-fluid p-0">

      <div class="row no-gutters">
          <div class="col-lg-5 ">
            <picture>
              <source class="lazyload" data-srcset="assets/img/page-section/page-contact_section_md.jpg" media="(min-width: 450px)">
                <img class="contact-img full-img-height lazyload" data-src="assets/img/page-section/page-contact_section.jpg" alt="Реставрація"> 
              </picture>
            </div>
          <div class="col-lg-7 col-sm-12">
            <div class="contact-form">
              <h2 class="section-title">Будьмо На Зв'язку</h2>
              <p>Заповніть форму та очікуйте дзвінка від нас. Ми з радістю відповімо на усі ваші запитання.</p>
              <form class="consultation-free" action="https://formspree.io/anatolii.lukavenko@gmail.com" class="consult-form" target="_blank" method="POST" >
                <label for="name">Ваше ім'я*:</label>
                <input class="name-field" id="name" type="text" name="Name"  data-validation-required-message="Введіть будь ласка ваше ім'я" required>
                <label for="number">Ваш номер телефону або Електронна пошта*:</label>
                <input class="phone-field" id="number" type="text" name="E-mail" data-validation-required-message="Введіть будь ласка ваш номер або пошту"  required>
                <label for="message">Ваше запитання або коментар:</label>
                <textarea name="message-field" id="message" rows="7"></textarea>
                <button  class="button button-normal submit-button button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Відправити</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Contact Us -->

    <!-- START Contact Info -->
    <section class="section section-lg section--full-width section--white"> 
      <div class="container-fluid">
        <div class="row">

          <div class="col-xl-5 col-lg-12">
            <h2 class="section-title">Контактна Інформація</h2>
            <div class="contact-info-item">
              <h4>Адреса:</h4> <p>79039, м.Львів, вул.Шевченка, 88-а</p>
            </div>
            <div class="contact-info-item">
              <a href="#"><h4>Телефон: </h4> <p>(032) 247-79-69</p></a>
            </div>
            <div class="contact-info-item">
              <h4>Робочі години:</h4> <p>Понеділок-П'ятниця 09:00-17:00</p>
            </div>
            <div class="contact-info-item">
              <a href="#"><h4>E-mail:</h4> <p class="mail">zahidcentrkompl@ukr.net</p></a>
            </div>
          </div>

          <div class="col-xl-7 p-0 col-lg-12">
            <div class="mapouter"><div class="gmap_canvas"><iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=79039%2C%20%D0%BC.%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%2C%20%D0%B2%D1%83%D0%BB.%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0%2C%2088-%D0%B0&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
          </div>

        </div>
      </div>
    </section>
    <!-- END Contact Info -->

    <!-- START Footer Menu -->
    <div class="page-footer__menu">
      <div class="page-footer__branding">
        <div class="border-white">
          Ценр-Комплекс
        </div>
      </div>
      <nav class="footer-nav">
        <ul>
          <li><a class="active" href="/about_us_page.html">Головна</a></li>
          <li><a href="/workers_page.html">Про Нас</a></li>
          <li><a href="/itp_page.html">Виконані Об'єкти</a></li>
          <li><a href="/energy_audit_page.html">Наші Ваканції</a></li>
          <li><a href="/contacts_page.html">Контакти</a></li>
        </ul>
      </nav>

      <div class="footer-socials">
        <ul>
          <li><a href="#">
            <div class="footer-socials-frame">
              <i class="fab fa-instagram"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="footer-socials-frame">
              <i class="fab fa-google"></i>
            </div>
          </a></li>
          <li><a href="#">
            <div class="footer-socials-frame">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a></li>
        </ul>
      </div>
    </div>
    <!-- END Footer Menu -->

    <!-- START Footer -->
    <footer class="section   section--full-width section-notoppading section--black">


      <div class="footer">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p class="copyright">
              Ценр-Комплекс  ©  <span class="copyright-year"></span>. Усі права захищено
            </p>
          </div>
          <div class="col-sm-12 col-md-6 text-sm--right">
            <a class="author" href="#">By LUAN & Co.</a>
          </div>
        </div>

      </div>
    </footer>
    <!-- END Footer -->

    <!-- To top button -->
    <a href="#" id="ui-to-top" class="ui-to-top">
      <i class="fas fa-arrow-alt-circle-up"></i>ВГОРУ
    </a>


  </body>
  <!-- build:js assets/scripts/core.min.js -->
  <script src="/temp/scripts/core.min.js"></script>
  <!-- endbuild -->

  <!-- build:js assets/scripts/App.js -->
  <script src="/temp/scripts/App.js"></script> 
  <!-- endbuild -->


  </html>