<!DOCTYPE html>

<html class="wow-animation" lang="UA">   

<head> 
  <meta charset="utf-8">
  <title>Ценр-Комплекс</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  
  <!-- Styles -->
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" href="temp/styles/style.css">
  <!-- endbuild -->

  <!-- Vendor JS code -->
  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js"></script>
  <!-- endbuild -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500|M+PLUS+1p:700|Raleway:400,500,600,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">



  <!-- Theme Color -->
  <meta name="theme-color" content="#0095da">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#0095da">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>

  <header class="page-header">
    <div class="page-header__logo">
      <a href="#">
        <img src="assets/img/logo/logo-header.png" alt="Ценр-Комплекс">
      </a>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <div class="page-header__branding">
            <div class="border">
              Ценр-Комплекс
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="page-header__contacts">
            <div class="contact-block__icon--big">
              <a href="#"><i class="fas fa-phone"></i></a>
            </div>
            <div class="contact-block">
              <div class="contact-block__num">
                <a href="#">(032) 247-79-69</a>
              </div>
              <div class="contact-block__text--light">
                Пн-Пт 09:00-17:00
              </div>
            </div>
            <div class="contact-block">
              <div class="contact-block__address">
                <a href="#"><i class="fas fa-location-arrow"></i>79039, м.Львів, вул.Шевченка, 88-а</a>
              </div>
              <div class="contact-block__address contact-block__address-mail">
                <a href="#"><i class="fas fa-envelope"></i>zahidcentrkompl@ukr.net</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="page-header__menu">
        <nav class="primary-nav">
          <ul>
            <li><a class="active" href="/about_us_page.html">Головна</a></li>
            <li><a href="/workers_page.html">Про Нас</a></li>
            <li><a href="/itp_page.html">Виконані Об'єкти</a></li>
            <li><a href="/energy_audit_page.html">Наші Ваканції</a></li>
            <li><a href="/contacts_page.html">Контакти</a></li>
          </ul>
        </nav>

        <div class="prymary-socials">
          <ul>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-instagram"></i>
              </div>
            </a></li>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-google"></i>
              </div>
            </a></li>
            <li><a href="#">
              <div class="prymary-socials-frame">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a></li>
          </ul>
        </div>

      </div>

    </div>
  </header>

  <!-- START Swiper -->  
  <section class="section section--full-width swiper-modern">
    <div class="swiper-container swiper-slider" data-clickable="true" data-slide-effect="fade" data-autoplay="40000" data-simulate-touch="false">
      <div class="swiper-wrapper"> 

        <div class="swiper-slide" data-slide-bg="assets/img/slider/restavration-title.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">

                <div class="text-wrapper">

                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Реставрація</h1>

                  <p data-caption-animate="fadeInUp" data-caption-delay="250">Реставрація – це зміцнення і відновлення зруйнованих або пошкоджених споруд -  пам'ятників історії і культури, з метою збереження їх історичного та культурного значення. </p>

                  <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                  <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

                </div>

                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/lanscaping-title.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">

                <div class="text-wrapper">

                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Благоустрій Територій</h1>

                  <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                  </p>

                  <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                  <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

                </div>

                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/instalation-title.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">

                <div class="text-wrapper">

                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Монтаж Інженерних мереж</h1>

                  <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                  </p>

                  <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                  <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

                </div>

                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-slide-bg="assets/img/slider/building-title.jpg">
          <div class="swiper-slide-caption">
            <div class="section-lg">
              <div class="wrapper">

                <div class="text-wrapper">

                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Будівництво</h1>

                  <p data-caption-animate="fadeInUp" data-caption-delay="250">Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг.
                  </p>

                  <a href="/contacts_page.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Наші Послуги</a>

                  <a href="#" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Про Нас</a>

                </div>

                
              </div>
            </div>
          </div>
        </div>

        

      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
      <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
    </div> 
  </section>
  <!-- END Swiper -->  

  <!-- START Advantages -->  
  <section class="section section-sm section--full-width section--grey"> 
    <div class="container-fluid">
      <div class="row">

        <div class="col-xl-3">
          <div class="adv-wrap-item">
          <img class="icon-adv" src="assets/img/icons/main_page/cityscape.svg" alt="">
          <span>1200</span>
          <p>виконаних об'єктів</p>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="adv-wrap-item">
          <img class="icon-adv" src="assets/img/icons/main_page/greek-column.svg" alt="">
          <span>12</span>
          <p>РОКІВ ДОСВІДУ</p>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="adv-wrap-item">
          <img class="icon-adv" src="assets/img/icons/main_page/workers.svg" alt="">
          <span>50</span>
          <p>КВАЛІФІКОВАНИХ ПРАЦІВНИКІВ</p>
          </div>
        </div>

        <div class="col-xl-3">
          <div class="adv-wrap-item">
          <img class="icon-adv" src="assets/img/icons/main_page/digger.svg" alt="">
          <span>30</span>
          <p>СУЧАСНОЇ БУДІВЕЛЬНОЇ ТЕХНІКИ</p>
          </div>
        </div>

      </div>
    </div>
  </section>











</body>
<!-- build:js assets/scripts/core.min.js -->
<script src="/temp/scripts/core.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/App.js -->
<script src="/temp/scripts/App.js"></script> 
<!-- endbuild -->


</html>