<!DOCTYPE html>

<html class="wow-animation" lang="UA">   

<head> 
	<meta charset="utf-8">
	<title>Ценр-Комплекс</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	
	<!-- Styles -->
	<!-- build:css assets/styles/styles.css -->
	<link rel="stylesheet" href="temp/styles/style.css">
	<!-- endbuild -->

	<!-- Vendor JS code -->
	<!-- build:js assets/scripts/Vendor.js -->
	<script src="/temp/scripts/Vendor.js"></script>
	<!-- endbuild -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500|M+PLUS+1p:700|Raleway:400,500,600,700" rel="stylesheet">

	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="assets/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">



	<!-- Theme Color -->
	<meta name="theme-color" content="#222931">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#222931">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	

  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
  <![endif]-->


</head>

<body>

	<header class="page-header">
		<div class="page-header__logo">
			<a href="/">
				<img src="assets/img/logo/logo-header.png" alt="Ценр-Комплекс">
			</a>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5">
					<div class="page-header__branding">
						<div class="border-black">
							Ценр-Комплекс
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="page-header__contacts">
						<div class="contact-block__icon--big">
							<a href="#"><i class="fas fa-phone"></i></a>
						</div>
						<div class="contact-block">
							<div class="contact-block__num">
								<a href="">(032) 247-79-69</a>
							</div>
							<div class="contact-block__text--light">
								Пн-Пт 09:00-17:00
							</div>
						</div>
						<div class="contact-block">
							<div class="contact-block__address">
								<a href="#"><i class="fas fa-location-arrow"></i>79039, м.Львів, вул.Шевченка, 88-а</a>
							</div>
							<div class="contact-block__address contact-block__address-mail">
								<a href="#"><i class="fas fa-envelope"></i>zahidcentrkompl@ukr.net</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="page-header__menu">
				<nav class="primary-nav">
					<ul>
						<li><a href="/index.html">Головна</a></li>
						<li><a href="/about_us_page.html">Про Нас</a></li>
						<li><a class="active" href="/services.html">Послуги</a></li>
						<li><a href="/objects_all.html">Виконані Об'єкти</a></li>
						<li><a href="/vacancy_page.html">Наші Вакансії</a></li>
						<li><a href="/contact_page.html">Контакти</a></li>
					</ul>
				</nav>

				<div class="prymary-socials">
					<ul>
						<li><a href="#">
							<div class="prymary-socials-frame">
								<i class="fab fa-instagram"></i>
							</div>
						</a></li>
						<li><a href="#">
							<div class="prymary-socials-frame">
								<i class="fab fa-google"></i>
							</div>
						</a></li>
						<li><a href="#">
							<div class="prymary-socials-frame">
								<i class="fab fa-facebook-f"></i>
							</div>
						</a></li>
					</ul>
				</div>

			</div>

		</div>

		<!-- Toggle Menu -->
		<button class="toggle-mnu">
			<span class="sandwich"> 
				<span class="sw-topper"></span>
				<span class="sw-bottom"></span>
				<span class="sw-footer"></span>
			</span>
		</button>

		<nav class="top-mnu "> 

			<div class="mobile-menu">
				<ul>
					<li><a  href="/index.html">Головна</a></li>
					<li><a href="/about_us_page.html">Про Нас</a></li>
					<li><a href="/services.html">Послуги</a></li>
					<li><a href="/objects_all.html">Виконані Об'єкти</a></li>
					<li><a href="/vacancy_page.html">Наші Вакансії</a></li>
					<li><a href="/contact_page.html">Контакти</a></li>
				</ul>
			</div> 
			

			<div class="mobile-socials">
				<ul>
					<li><a href="#">
						<div class="mobile-socials-frame">
							<i class="fab fa-instagram"></i>
						</div>
					</a></li>
					<li><a href="#">
						<div class="mobile-socials-frame">
							<i class="fab fa-google-plus-g"></i>
						</div>
					</a></li>
					<li><a href="#">
						<div class="mobile-socials-frame">
							<i class="fab fa-facebook-f"></i>
						</div>
					</a></li>
				</ul>
			</div>

		</nav>
		<!-- Toggle Menu -->
	</header>

	<!-- START Page Title section -->  
	<section class="section section--full-width page-title">
		<div class="wrapper">
			<div class="range">

				<div class="page-title-img parallax-container" data-parallax-img="assets/img/page-title/lanscaping-title.jpg">
					<div class="page-title-img-caption parallax-content">
						<div class="section-lg">
							<div class="wrapper">
								<div class="text-wrap">
									<h1 class="font-semibold wow fadeInUp" data-wow-delay=".1s">Благоустрій територій</h1>

									<p class=" wow fadeInUp" data-wow-delay=".25s">
										<a href="/index.html">Головна</a> / <a  href="/services.html">послуги</a> / <a class="active" href="service_landscaping.html">Благоустрій територій</a>
									</p>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>


			</div>
		</div> 
	</section>
	<!-- END Page Title section -->  

	<!-- START Action -->
	<section class="section section_action section-xs section--full-width section--accent"> 
		<div class="container-fluid">
			<div class="row">

				<div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
					<div class="action__title">Центр-Комплекс</div>
				</div>

				<div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
					<div class="action__text">
						<p>Ми перетворюємо Ваші ідеї та бачення у якісний та професійний результат.</p>
					</div>
				</div>

				<div class="col-xl-2 col-lg3 col-md-3 col-sm-12">
					<div class="action__button">
						<a href="/contact_page.html" class="button button-normal button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Почати Співпрацю</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- END Action -->

	<!-- START Progects Potrfolio -->  
	<section class="section section__portfolio section-lg--topline section--full-width section--white"> 
		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-12">

					<div class="divider-title-new"></div>
					<h1 class="portfolio-title">Нещодавно Виконані Об'єкти</h1>

					<div class="filter-div controls">
						<ul>
							<li class="filter active" data-filter="all">УСІ</li>
							<li class="filter" data-filter=".category-1">БУДІВНИЦТВО</li>
							<li class="filter " data-filter=".category-2">РЕСТАВРАЦІЯ</li>
							<li class="filter" data-filter=".category-3">РЕКОНСТРУКЦІЯ</li>
							<li class="filter" data-filter=".category-4">бЛАГОУСТРІЙ</li>

						</ul>
					</div>

				</div>


				<div id="portfolio-grid">

                  <div class="mix col-sm-4 portfolio-item category-1 ">
                    <div class=" thumb-portfolio ">
                      <div class="figure-wrap cs-style-4">
                       <figure>
                         <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                         <figcaption>
                          <a href="/service_building.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Будівництво</a>
                          <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                          </p>
                          <a class="thumb-portfolio-link" href="/object_sample.html">
                            <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                          </a>
                        </figcaption>
                      </figure>
                    </div>
                    <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                    <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                    <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
                  </div>
                </div>

                <div class="mix col-sm-4 portfolio-item category-1 ">
                  <div class=" thumb-portfolio ">
                    <div class="figure-wrap cs-style-4">
                     <figure>
                       <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                       <figcaption>
                        <a href="/service_building.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Будівництво</a>
                        <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                        </p>
                        <a class="thumb-portfolio-link" href="/object_sample.html">
                          <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                        </a>
                      </figcaption>
                    </figure>
                  </div>
                  <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                  <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                  <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
                </div>
              </div>

              <div class="mix col-sm-4 portfolio-item category-2 ">
                <div class=" thumb-portfolio ">
                  <div class="figure-wrap cs-style-4">
                   <figure>
                     <img class="thumb-portfolio-img lazyload" data-src="assets/img/objects/obj-section.png" alt="Реставрація"> 
                     <figcaption>
                      <a href="/service_restavration.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Реставрація</a>
                      <p>Ми намагаємося забезпечити максимально комплексний підхід до кожного клієнта. Тому, в нас, Ви зможете пройти не тільки навчання з охорони праці і за професіями, а й отримати цілий ряд супутніх послуг...
                      </p>
                      <a class="thumb-portfolio-link" href="/object_sample.html">
                        <h5>дізнатись більше</h5><i class="fas fa-angle-right"></i>
                      </a>
                    </figcaption>
                  </figure>
                </div>
                <h3 class="thumb-portfolio-title">Назва роботи/об'єкту</h3>
                <p class="thumb-portfolio-address">Адреса: 79039, м.Львів, вул.Шевченка, 88-а</p>
                <p class="thumb-portfolio-time">Терміни виконання: 2 місяці</p>
              </div>
            </div>

          </div>

				<div class="portfolio-button">
					<a href="/objects_all.html" class="button button-primary button--effect-cool" data-caption-animate="fadeInUp" data-caption-delay="400">Переглянути усі Об'єкти на мапі</a>
				</div>

			</div>

		</div>
	</div>
</section>
<!-- END Progects Potrfolio -->  

<!-- START Footer Menu -->
<div class="page-footer__menu">
	<div class="page-footer__branding">
		<div class="border-white">
			Ценр-Комплекс
		</div>
	</div>
	<nav class="footer-nav">
		<ul>
			<li><a href="/index.html">Головна</a></li>
			<li><a href="/about_us_page.html">Про Нас</a></li>
			<li><a class="active" href="/services.html">Послуги</a></li>
			<li><a href="/objects_all.html">Виконані Об'єкти</a></li>
			<li><a href="/vacancy_page.html">Наші Вакансії</a></li>
			<li><a href="/contact_page.html">Контакти</a></li>
		</ul>
	</nav>

	<div class="footer-socials">
		<ul>
			<li><a href="#">
				<div class="footer-socials-frame">
					<i class="fab fa-instagram"></i>
				</div>
			</a></li>
			<li><a href="#">
				<div class="footer-socials-frame">
					<i class="fab fa-google"></i>
				</div>
			</a></li>
			<li><a href="#">
				<div class="footer-socials-frame">
					<i class="fab fa-facebook-f"></i>
				</div>
			</a></li>
		</ul>
	</div>
</div>
<!-- END Footer Menu -->

<!-- START Footer -->
<footer class="section   section--full-width section-notoppading section--black">


	<div class="footer">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p class="copyright">
					Ценр-Комплекс  ©  <span class="copyright-year"></span>. Усі права захищено
				</p>
			</div>
			<div class="col-sm-12 col-md-6 text-sm--right">
				<a class="author" href="#">By LUAN & Co.</a>
			</div>
		</div>

	</div>
</footer>
<!-- END Footer -->

<!-- To top button -->
<a href="#" id="ui-to-top" class="ui-to-top">
	<i class="fas fa-arrow-alt-circle-up"></i>ВГОРУ
</a>


</body>
<!-- build:js assets/scripts/core.min.js -->
<script src="/temp/scripts/core.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/App.js -->
<script src="/temp/scripts/App.js"></script> 
<!-- endbuild -->


</html>